/*unchanged css*/

/*  github fork button right   */
.github-fork{
    position: absolute;
    top: 41px;
    padding: 2px 2px;
    right: -56px;
    background-color: #6c9548;
    transform: rotate(45deg);
    font-size: 18px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.18));
    pointer-events: auto;
}

.github-fork a{
    text-decoration: blink;
    text-shadow: 0 -2px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    border-style: dotted;
    border-width: thin;
    padding: 0 22px;

}
.github-fork a:hover{
    text-shadow: 0 -2px rgba(0, 0, 0, 0.8);
}

/* fork end*/