.md{
    position: fixed;
    top: 50%;
    bottom: 50%;
    background-color: rgba(0,0,0,0.15);
    width: 50%;
    height: 200px;
    max-width: 630px;
    min-width: 320px;
    z-index: 9999;
    backface-visibility: hidden;
    visibility: hidden;
    transform: translateX(-50%) translateY(50%)
}

.md-show{
    visibility:visible;
}

.md-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    visibility: hidden;
    opacity: 0;
    background: rgba(143,27,15,0.8);
    transition: all 0.3s
}

.md-show~.md-overlay{
    visibility:visible;
    opacity:1;
}